.hidden {
    opacity: 0;
    transition: 1s;
}

main {
    margin-top: 10px;
}

.self {
    background: lightslategray !important;
}

.opponent:hover{
    background-color: salmon;
}

#login-modal {
    font-size: 2em;
}